[Desktop Entry]
Encoding=UTF-8
Name=KSystemLog
Categories=Qt;KDE;System;
X-KDE-SubstituteUID=true
Exec=ksystemlog %i %m -caption "%c"
Icon=ksystemlog
Type=Application
DocPath=ksystemlog/mainWindow.html
Comment=System log viewer tool
Terminal=false
GenericName=System Logs Viewer
