[Desktop Entry]
Encoding=UTF-8
Name=KSystemLog
Name[sv]=Ksystemlog
Name[th]=บันทึกการทำงานของระบบ
Name[x-test]=xxKSystemLogxx
Categories=Qt;KDE;System;
X-KDE-SubstituteUID=true
Exec=ksystemlog %i %m -caption "%c"
Icon=ksystemlog
Type=Application
DocPath=ksystemlog/mainWindow.html
Comment=System log viewer tool
Comment[ca]=Eina de visualització dels registres del sistema
Comment[da]=Fremviserværktøj til systemlog
Comment[el]=Εργαλείο εμφάνισης της καταγραφής του συστήματος
Comment[ga]=Amharcán ar logchomhaid an chórais
Comment[ja]=システムログビューア
Comment[pt]=Ferramenta de visualização de registos do sistema
Comment[pt_BR]=Ferramenta de visualização de log
Comment[sv]=Visningsverktyg för systemloggar
Comment[th]=เครื่องมือแสดงบันทึกการทำงานของระบบ
Comment[uk]=Засіб перегляду системних журналів
Comment[x-test]=xxSystem log viewer toolxx
Comment[zh_CN]=系统日志查看工具
Comment[zh_TW]=系統紀錄檢視工具
Terminal=false
GenericName=System Logs Viewer
GenericName[ca]=Visor dels registres del sistema
GenericName[da]=Systemlogfremviser
GenericName[el]=Εργαλείο εμφάνισης της καταγραφής του συστήματος
GenericName[ga]=Amharcán ar Logchomhaid an Chórais
GenericName[ja]=システムログビューア
GenericName[pt]=Visualizador de Registos do Sistema
GenericName[pt_BR]=Visualizador de logs do sistema
GenericName[sv]=Visning av systemloggar
GenericName[th]=แสดงบันทึกการทำงานของระบบ
GenericName[uk]=Переглядач системних журналів
GenericName[x-test]=xxSystem Logs Viewerxx
GenericName[zh_CN]=系统日志查看器
GenericName[zh_TW]=系統紀錄檢視器
