[Desktop Entry]
Encoding=UTF-8
Name=KSystemLog
Categories=Qt;KDE;System;
X-KDE-SubstituteUID=true
Exec=ksystemlog %i %m -caption "%c"
Icon=ksystemlog
Type=Application
DocPath=ksystemlog/mainWindow.html
Comment=System log viewer tool
Comment[ca]=Eina de visualització dels registres del sistema
Comment[ga]=Amharcán ar logchomhaid an chórais
Comment[ja]=システムログビューア
Comment[pt]=Ferramenta de visualização de registos do sistema
Comment[pt_BR]=Ferramenta de visualização de registos do sistema
Terminal=false
GenericName=System Logs Viewer
GenericName[ca]=Visor dels registres del sistema
GenericName[ga]=Amharcán ar Logchomhaid an Chórais
GenericName[ja]=システムログビューア
GenericName[pt]=Visualizador de Registos do Sistema
GenericName[pt_BR]=Visualizador de Registos do Sistema
