[Desktop Entry]
Type=Application
Exec=ksystemlog -qwindowtitle %c
Icon=utilities-log-viewer
Categories=Qt;KDE;System;Monitor;
X-DocPath=ksystemlog/index.html
X-KDE-SubstituteUID=true
Keywords=log;logfile;system messages;system log;kernel log;authentication log;X.org log;journald log;services logs;Event Viewer;eventvwr;eventlog;
Keywords[ar]=سجل;رسائل النظام;رسائل;سجل النواة;سجل خادم العرض;عارض الأحداث;سجل الخدمات;
Keywords[az]=jurnal;jurnal faylı;sistem ismarıcı;sistem jurnalı;nüvə jurnalı;kimlik doğrulaması jurnalı;X.org jurnalı;journald jurnalı;xidmətlər jurnalı;Hadisələrə Baxış;eventvwr;hadisələr jurnalı;
Keywords[bg]=дневници,журнал,протоколиране,системен дневник,събития,удостоверяване
Keywords[ca]=registre;fitxer de registre;missatges del sistema;registre del sistema;registre del nucli;registre d'autenticació;registre del X.org;registre del journald;registres dels serveis;visualitzador d'esdeveniments;eventvwr;registre d'esdeveniments;
Keywords[ca@valencia]=registre;fitxer de registre;missatges del sistema;registre del sistema;registre del nucli;registre d'autenticació;registre del X.org;registre de journald;registres dels serveis;visor d'esdeveniments;eventvwr;registre d'esdeveniments;
Keywords[de]=systemnachrichten;protokoll;systemprotokoll;kernelprotokoll;ereignisanzeige;
Keywords[en_GB]=log;logfile;system messages;system log;kernel log;authentication log;X.org log;journald log;services logs;Event Viewer;eventvwr;eventlog;
Keywords[eo]=protokolo;protokoldosiero;sistemmesaĝoj;sistemprotokolo;kernprotokolo;aŭtentiga protokolo;X.org-protokolo;journald-protokolo;servoprotokolo;eventrigardilo;eventvwr;eventlog;
Keywords[es]=registro;archivo de registro;mensajes del sistema;registro del sistema;registro del kernel;registro de autenticación;registro de X.org;registro de journald;registros de los servicios;visor de eventos;registro de eventos;
Keywords[eu]=egunkaria;egunkari-fitxategia;sistemaren mezuak;sistemaren egunkaria;muinaren egunkaria;autentifikazio egunkaria;X.org egunkaria;journald egunkaria;zerbitzuen egunkariak;gertaera erakuslea;eventvwr;eventlog;
Keywords[fi]=loki;lokitiedosto;järjestelmäviestit;järjestelmäloki;ydinloki;todennusloki;X.org-loki;journald-loki;palveluloki;tapahtumakatselin;eventvwr;tapahtumaloki;
Keywords[fr]=journal ; fichier de journal ; messages du système ; journal du système ; journal du noyau ; journal des authentifications ; journal de X.org ; journal de journald ; journaux des services ; afficheur d'évènements ; eventvwr ; journal des évènements ;
Keywords[gl]=rexistro;ficheiro de rexistro;mensaxes do sistema;rexistro do sistema;rexistro do kernel;rexistro de autenticación;rexistro de X.org;rexistro de journald;rexistros de servizos;visor de eventos;eventvwr;eventlog;
Keywords[ia]=log;logfile;system messages;system log;kernel log;authentication log;X.org log;journald log;services logs;Event Viewer;eventvwr;eventlog;
Keywords[it]=registro;file di registro;messaggi;registro di sistema;registro del kernel;registro di autenticazione;registro di Xorg;registro di journald;registro dei servizi;visore di eventi;eventvwr;eventlog;
Keywords[ka]=log;logfile;system messages;system log;kernel log;authentication log;X.org log;journald log;services logs;Event Viewer;eventvwr;eventlog;
Keywords[ko]=log;logfile;system messages;system log;kernel log;authentication log;X.org log;journald log;services logs;Event Viewer;eventvwr;eventlog;로그;기록;로그 파일;시스템 메시지;시스템 로그;커널 로그;인증 로그;X.org 로그;journald 로그;저널 로그;서비스 로그;이벤트 뷰어;이벤트 로그;
Keywords[nl]=log;logbestand;systeemmelding;systeemlog;kernellog;authenticatielog;X.org-log;journald-log;serviceslogs;Gebeurtenisviewer;eventvwr;gebeurtenislog;
Keywords[nn]=logg;loggfil;systemmeldingar;systemlogg;kjernelogg;autentiseringslogg;X.org-log;journald-log;tenestelogg;hendingsvisar;eventvwr;eventlog;hendingslogg;
Keywords[pl]=dziennik;plik dziennika;wiadomości systemowe;dziennik systemowy;dziennik jądra;dziennik uwierzytelniania;dziennik X.org;dziennik journald;dziennik usług;Przeglądarka Wydarzeń;eventvwr;dziennik wydarzeń;
Keywords[pt]=registo;ficheiro de registo;mensagens do sistema;registo do sistema;registo do kernel;registo de autenticação;registo do X.org;registo do journald;registos dos serviços;Visualizador de Eventos;eventvwr;eventlog;
Keywords[pt_BR]=log;registro;arquivo de registro;arquivo de log;mensagens do sistema;log do sistema;log do kernel; log de autenticação;log do X.org; log do journald;log dos serviços;visualizador de eventos;log de eventos;
Keywords[ru]=log;logfile;system messages;system log;kernel log;authentication log;X.org log;journald log;services logs;Event Viewer;eventvwr;eventlog;журнал;лог;системные сообщения;журнал системы;журнал ядра;журнал авторизации;журнал journald;журнал служб;просмотр событий;журнал событий
Keywords[sk]=denník;súbor denníka;systémové správy;systémový denník;záznam jadra; denník overovania;X.orgdenník; denník denníkov; denníky služieb;Prehliadač udalostí;eventvwr;eventlog;
Keywords[sl]=dnevnik;datoteka dnevnika;sistemska sporočila;sistemski dnevnik;dnevnik jedra;dnevnik prijav;dnevnik X.org;dnevnik journald;dnevnik storitev;vpogledovalnik dogodkov;eventvwr;eventlog;
Keywords[sv]=log;loggfil;system meddelanden;systemlogg;kärnlogg;behörighetslogg;X.org logg;journald-logg;tjänstloggar;Händelsevisning;händelselogg;
Keywords[tr]=günlük;günlük dosyası;sistem iletileri;sistem günlüğü;çekirdek günlüğü;kimlik doğrulama günlüğü;x.org günlüğü;journald günlüğü;hizmetler günlüğü;servisler günlüğü;olay görüntüleyici;olay günlüğü;hizmetler günlüğü;günce;
Keywords[uk]=log;logfile;system messages;system log;kernel log;authentication log;X.org log;journald log;services logs;Event Viewer;eventvwr;eventlog;журнал;файл журналу;системні повідомлення;журнал системи;системний журнал;журнал ядра;журнал розпізнавання;журнал автентифікації;журнал X.Org;журнал journald;журнал служб;перегляд подій;переглядач подій;
Keywords[x-test]=xxlogxx;xxlogfilexx;xxsystem messagesxx;xxsystem logxx;xxkernel logxx;xxauthentication logxx;xxX.org logxx;xxjournald logxx;xxservices logsxx;xxEvent Viewerxx;xxeventvwrxx;xxeventlogxx;
Keywords[zh_CN]=log;logfile;system messages;system log;kernel log;authentication log;X.org log;journald log;services logs;Event Viewer;eventvwr;eventlog;日志;日志文件;系统消息;系统日志;内核日志;身份验证日志;X.org 日志;journald 日志;事件查看器;事件日志;
Keywords[zh_TW]=log;logfile;system messages;system log;kernel log;authentication log;X.org log;journald log;services logs;Event Viewer;eventvwr;eventlog;系統紀錄;紀錄檔;記錄;系統訊息;

Name=KSystemLog
Name[ar]=سجلّات نظامك
Name[az]=KSystemLog
Name[bg]=KSystemLog
Name[bs]=KSystemLog
Name[ca]=KSystemLog
Name[ca@valencia]=KSystemLog
Name[cs]=KSystemLog
Name[da]=KSystemLog
Name[de]=KSystemLog
Name[el]=KSystemLog
Name[en_GB]=KSystemLog
Name[eo]=KSystemLog
Name[es]=KSystemLog
Name[et]=KSystemLog
Name[eu]=KSystemLog
Name[fa]=KSystemLog
Name[fi]=KSystemLog
Name[fr]=KSystemLog
Name[ga]=KSystemLog
Name[gl]=KSystemLog
Name[hi]=KSystemLog
Name[hne]=के-सिस्टम-लाग
Name[hr]=KSystemLog
Name[hu]=Rendszernapló-megjelenítő
Name[ia]=KSystemLog
Name[id]=KSystemLog
Name[is]=KSystemLog
Name[it]=KSystemLog
Name[ja]=KSystemLog
Name[ka]=KSystemLog
Name[kk]=KSystemLog
Name[ko]=KSystemLog
Name[lt]=KSystemLog
Name[lv]=KSystemLog
Name[ml]=കെസിസ്റ്റംലോഗ്
Name[mr]=के-सिस्टीम-लॉग
Name[nb]=KSystemLog
Name[nds]=KSystemLog
Name[nl]=KSystemLog
Name[nn]=KSystemlogg
Name[pa]=ਕੇ-ਸਿਸਟਮ-ਲਾਗ
Name[pl]=KSystemLog
Name[pt]=KSystemLog
Name[pt_BR]=KSystemLog
Name[ro]=KSystemLog
Name[ru]=KSystemLog
Name[sk]=KSystemLog
Name[sl]=KSystemLog
Name[sq]=KSystemLog
Name[sr]=К‑системски-дневник
Name[sr@ijekavian]=К‑системски-дневник
Name[sr@ijekavianlatin]=K‑sistemski-dnevnik
Name[sr@latin]=K‑sistemski-dnevnik
Name[sv]=Ksystemlog
Name[th]=ปูมบันทึกระบบ
Name[tr]=K Sistem Günlüğü
Name[ug]=KSystemLog
Name[uk]=KSystemLog
Name[x-test]=xxKSystemLogxx
Name[zh_CN]=KSystemLog 系统日志
Name[zh_TW]=KSystemLog

Comment=System log viewer tool
Comment[ar]=أداة لعرض سجلّات النّظام
Comment[az]=Sistem jurnalına baxış aləti
Comment[bg]=Инструмент за преглеждане на системните дневници
Comment[bs]=Alat za pregled sistemski zabilješki
Comment[ca]=Eina de visualització dels registres del sistema
Comment[ca@valencia]=Eina de visor dels registres del sistema
Comment[cs]=Nástroj na prohlížení záznamů systému
Comment[da]=Fremviserværktøj til systemlog
Comment[de]=Betrachter für Systemprotokolle
Comment[el]=Εργαλείο εμφάνισης της καταγραφής του συστήματος
Comment[en_GB]=System log viewer tool
Comment[eo]=Sistemprotokola rigardilo
Comment[es]=Herramienta de visualización de registros del sistema
Comment[et]=Süsteemilogi näitaja
Comment[eu]=Sistema egunkariak erakusteko tresna
Comment[fa]=ابزار مشاهده‌گر وقایع ثبت شده سیستم
Comment[fi]=Järjestelmälokien katselin
Comment[fr]=Outil d'affichage des journaux du système
Comment[ga]=Amharcán ar logchomhaid an chórais
Comment[gl]=Visor dos rexistros do sistema
Comment[he]=כלי לעיון ביומני מערכת
Comment[hi]=तंत्र पोथी दर्शक औजार
Comment[hne]=तंत्र लाग प्रदर्सक औजार
Comment[hr]=Alat za prikaz dnevnika sustava
Comment[hu]=Rendszernapló-megjelenítő eszköz
Comment[ia]=Instrumento pro vider registro de systema
Comment[id]=Alat penampil catatan sistem
Comment[is]=Tól til að skoða kerfisannála (system logs)
Comment[it]=Strumento di visione dei registri di sistema
Comment[ja]=システムログビューア
Comment[ka]=სისტემური ჟურნალის დათვალიერების ხელსაწყო
Comment[kk]=Жүйелік журналын қарау құралы
Comment[ko]=시스템 로그 뷰어 도구
Comment[lt]=Sistemos žurnalų žiūryklė
Comment[lv]=Sistēmas žurnāla skatīšanas rīks
Comment[ml]=സിസ്റ്റം ലോഗ് കാണാന്നുള്ള ടൂള്‍
Comment[mr]=प्रणाली लॉग प्रदर्शक साधन
Comment[nb]=Verktøy for å vise systemlogger
Comment[nds]=Kieker för Systeem-Logböker
Comment[nl]=Hulpmiddel voor bekijken van systeemlogs
Comment[nn]=Verktøy for vising av systemloggar
Comment[pa]=ਸਿਸਟਮ ਲਾਗ ਦਰਸ਼ਕ ਟੂਲ
Comment[pl]=Narzędzie do przeglądania dziennika systemowego
Comment[pt]=Ferramenta de visualização dos registos do sistema
Comment[pt_BR]=Ferramenta de visualização de registros do sistema
Comment[ro]=Unealtă de vizualizare a jurnalelor de sistem
Comment[ru]=Программа просмотра системных журналов
Comment[sk]=Nástroj na prehliadanie záznamov systému
Comment[sl]=Orodje za pregledovanje sistemskih dnevnikov
Comment[sq]=Mjeti shfaqës i hyrjeve në sistem
Comment[sr]=Приказивач системских дневника
Comment[sr@ijekavian]=Приказивач системских дневника
Comment[sr@ijekavianlatin]=Prikazivač sistemskih dnevnika
Comment[sr@latin]=Prikazivač sistemskih dnevnika
Comment[sv]=Visningsverktyg för systemloggar
Comment[th]=เครื่องมือแสดงปูมบันทึกของระบบ
Comment[tr]=Sistem günlük kayıtlarını görüntüleme aracı
Comment[ug]=سىستېما خاتىرىسىنى كۆرۈش قورالى
Comment[uk]=Засіб перегляду системних журналів
Comment[x-test]=xxSystem log viewer toolxx
Comment[zh_CN]=系统日志查看工具
Comment[zh_TW]=系統紀錄檢視工具

GenericName=System Log Viewer
GenericName[ar]=عارض سجلّات النّظام
GenericName[az]=Sistem jurnalı görüntüləyicisi
GenericName[bg]=Преглед на системните дневници
GenericName[bs]=Preglednik sistemskih bilješki
GenericName[ca]=Visualitzador dels registres del sistema
GenericName[ca@valencia]=Visor dels registres del sistema
GenericName[cs]=Prohlížeč záznamů systému
GenericName[da]=Systemlogfremviser
GenericName[de]=Systemprotokoll-Betrachter
GenericName[el]=Εμφάνιση καταγραφών του συστήματος
GenericName[en_GB]=System Log Viewer
GenericName[eo]=Sistemprotokola rigardilo
GenericName[es]=Visor de registros del sistema
GenericName[et]=Süsteemi logide jälgija
GenericName[eu]=Sistema egunkarien erakuslea
GenericName[fa]=مشاهده‌گر وقایع ثبت شده سیستم
GenericName[fi]=Järjestelmän lokitiedostojen katselin
GenericName[fr]=Afficheur des journaux du système
GenericName[ga]=Amharcán ar Logchomhaid an Chórais
GenericName[gl]=Visor dos rexistros do sistema
GenericName[he]=מעיין ביומני מערכת
GenericName[hi]=तंत्र पोथी दर्शक
GenericName[hr]=Preglednik sistemskih zapisa
GenericName[hu]=Rendszernapló-megjelenítő
GenericName[ia]=Visor de registro de systema
GenericName[id]=Penampil Catatan Sistem
GenericName[is]=Kerfisannálabirtir
GenericName[it]=Visore dei registri di sistema
GenericName[ja]=システムログビューア
GenericName[ka]=სისტემური ჟურნალის დამთვალიერებელი
GenericName[kk]=Жүйелік журналын қарау
GenericName[ko]=시스템 로그 뷰어
GenericName[lt]=Sistemos žurnalų žiūryklė
GenericName[mr]=प्रणाली लॉग प्रदर्शक
GenericName[nb]=Systemloggviser
GenericName[nds]=Kieker för't Systeemlogbook
GenericName[nl]=Viewer voor systeemlogs
GenericName[nn]=Systemloggvisar
GenericName[pa]=ਸਿਸਟਮ ਲਾਗ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka dziennika systemowego
GenericName[pt]=Visualizador de Registos do Sistema
GenericName[pt_BR]=Visualizador do registros do sistema
GenericName[ro]=Vizualizator jurnale de sistem
GenericName[ru]=Просмотр системных журналов
GenericName[sk]=Prehliadač záznamov systému
GenericName[sl]=Pregledovalnik sistemskih dnevnikov
GenericName[sq]=Shikuesi i log
GenericName[sr]=Приказивач системског дневника
GenericName[sr@ijekavian]=Приказивач системског дневника
GenericName[sr@ijekavianlatin]=Prikazivač sistemskog dnevnika
GenericName[sr@latin]=Prikazivač sistemskog dnevnika
GenericName[sv]=Visning av systemloggar
GenericName[th]=แสดงปูมบันทึกของระบบ
GenericName[tr]=Sistem Günlüğü Görüntüleyicisi
GenericName[ug]=سىستېما خاتىرىسى كۆرگۈچ
GenericName[uk]=Переглядач системних журналів
GenericName[x-test]=xxSystem Log Viewerxx
GenericName[zh_CN]=系统日志查看器
GenericName[zh_TW]=系統紀錄檔檢視器
